@tailwind base;
@tailwind components;
@tailwind utilities;

/* WebKit (Safari, Chrome) */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #efeeee; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners of the scrollbar handle */
}

/* Firefox */
body {
  scrollbar-width: thin; /* Width of the scrollbar */
}

/* Track */
body {
  scrollbar-color: #efeeee #ffffff; /* Color of the scrollbar track and handle */
}
